{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboutus</title>
</head>
<body>
    {% block content%}
    <nav class="navbar navbar-dark navbar-expand-sm sticky-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nucampNavbar">
                 <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nucampNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home fa-lg"></i> Qui sommes-nous </a></li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link" href="{% url 'about' %}" role="button" data-toggle="dropdown" > <i class="fa fa-info fa-lg"></i> Nos actions & campagnes</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#corona">Corona</a>
                            <a class="dropdown-item" href="#diapora">Diapora Engagement</a>
                            <a class="dropdown-item" href="#education">Education</a>
                            <a class="dropdown-item" href="#sante">Sante</a>
                            <a class="dropdown-item" href="#finance">Finances publique</a>
                            <a class="dropdown-item" href="#agriculture">Agriculture et securite alimentaire</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog_index' %}"><i class="fa fa-newspaper-o fa-lg"></i>  Actualites </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card fa-lg"></i>  Contact </a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'donation' %}"><i class="fa fa-shopping-basket fa-lg"></i>  Donation </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
         <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Qui sommes-nous</a></li>
                    <li class="breadcrumb-item active">Nos actions & campagnes</li>
                </ol>
            </div>
         </div>
         <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="corona"><h2>Corona</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="diaspora"><h2>Diapora Engagement</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="education"><h2>Education</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="sante"><h2>Sante</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="finance"><h2>finance</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row row-content">
                <div class="col col-sm-6">
                    <a name="agriculture"><h2>Agriculture</h2></a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="card-header bg-primary text-white">Facts</h3>
                    <div class="card">
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-6">Nombre de famille :</dt>
                                <dd class="col-6">200</dd>
                                <dt class="col-6">Riz, Sucre, Savon par famille</dt>
                                <dd class="col-6">1</dd>
                            </dl>
                       </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-light mt-3">
                        <blockquote class="blockquote card-body">
                            <p class="mb-0">Ce n'est pas combien nous donnons, mais combien d'amour nous mettons en donnant.</p>
                            <footer class="blockquote-footer"> Mother Theresa,
                            </footer>
                        </blockquote>
                    </div>
                </div>
         </div>
    </div>

    {% endblock %}
</body>
</html>