<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

      <!-- Add icon library -->
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" />

<!--      CSS CUSTOM-->
       <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Guinea Diaspora Coalition</title>
  </head>
  <body>
        <header class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-sm-3 col-md-2 mr-auto">
                 <a href="{% url 'index' %}"><img src="{% static "img/mylogo.jpeg" %}" alt="logo image" height="110" width="170"></a>
                </div>
                <div class="col text-left">
                    <h1>G.D.C</h1>
                    <h2>Guinea Diaspora Coalition</h2>
                </div>
                <div class="col text-right">
                    <h2>Aider notre community </h2>
                    <h2>est notre passion</h2>
                </div>
           </div>
        </div>
        </header>
        {% block content %}


        {% endblock %}
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-2 offset-1">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'index' %}">Qui sommes-nous</a></li>
                            <li><a href="{% url 'about' %}">Nos actions</a></li>
                            <li><a href="{% url 'blog_index' %}">Actualite</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'donation' %}">Donation</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-5 text-center">
                        <h5>Social</h5>
                        <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/"> <i class="fa fa-instagram"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-google" href="https://www.youtube.com/watch?v=m18EorQgA_8"><i class="fa fa-youtube"></i></a>
                    </div>
                    <div class="col-sm-4 text-center">
                        <a role="button" class="btn btn-link" href="tel:+555555555"><i class="fa fa-phone"></i> 1-555-555-5555</a><br>
                        <a role="button" class="btn btn-link" href="tel:+555555555"><i class="fa fa-phone"></i> 1-620-555-5555</a><br>
                        <a role="button" class="btn btn-link" href="mailto:campsites@nucamp.co"><i class="fa fa-envelope-o"></i> guineadiapora@gmail.com</a>
                    </div>
                    <div class="col  text-center">
                        <small>&copy; Copyright 2020, Guinea Coalition Diaspora</small>
                    </div>
                </div>
            </div>
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0"></script>
  </body>
</html>