{% extends 'base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm sticky-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nucampNavbar">
                 <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nucampNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home fa-lg"></i> Qui sommes-nous </a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'about' %}"><i class="fa fa-address-card fa-lg"></i>  Nos actions & compagnes </a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card fa-lg"></i>  contact </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Qui sommes-nous</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ol>
                <h2>Contact Nous</h2>
                <hr />
            </div>
        </div>

        <div class="row row-content align-items-center">
            <div class="col-sm-4">
                <h5>Notre Addresse :</h5>
                <address>
                    1600 Pennsylvania Ave NW<br />
                    Washington<br />
                    DC 20500
                </address>
            </div>
            <div class="col">
				<a role="button" class="btn btn-link" href="tel:+555555"><i class="fa fa-phone"></i> 1-555-555-5555</a><br>
                <a role="button" class="btn btn-link" href="tel:+555555"><i class="fa fa-phone"></i> 1-620-555-5555</a><br>
            	<a role="button" class="btn btn-link" href="mailto:guineadiapora@gmail.com"><i class="fa fa-envelope-o"></i> guineadiapora@gmail.com</a>
            </div>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Votre Message</h1>
        <form action="" method ="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form.prenom | as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.nom | as_crispy_field }}
                </div>
            </div>
            {{ form.email | as_crispy_field }}
            {{ form.message |as_crispy_field }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        </form>
    </div>
    {% endblock %}

</body>
</html>