{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm sticky-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nucampNavbar">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nucampNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link" href="{% url 'index' %}" role="button" data-toggle="dropdown" > <i class="fa fa-home fa-lg"></i> Qui sommes-nous</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#vision">Notre vision</a>
                            <a class="dropdown-item" href="#organisation">Notre organisation</a>
                            <a class="dropdown-item" href="#mission">Notre mission</a>
                            <a class="dropdown-item" href="#finance">Notre finance</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info fa-lg"></i> Nos actions/campagnes  </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card fa-lg"></i>  contact </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-content ">
            <div class="col-12">
                <a name="vision"><h2>Notre Vision</h2></a>
                <h3>Partern1</h3>
                <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                <h3>Partern2</h3>
                <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
         </div>
    </div>

    <div class="container ">
        <div class="row row-content">
            <div class="col-12">
                 <a name="organisation"><h2>Notre organisation</h2></a>
                    <h3>Partern1</h3>
                    <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                    <h3>Partern2</h3>
                    <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
     </div>
     <div class="container ">
        <div class="row row-content">
            <div class="col-12">
                <a name="mission"><h2>Notre Mission</h2></a>
                <h3>Partern1</h3>
                <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                <h3>Partern2</h3>
                <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
     </div>
     <div class="container ">
        <div class="row row-content">
            <div class="col-sm-9">
                <a name="finance"><h2>Notre Finance</h2></a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="bg-primary text-light">
                                <th></th>
                                <th>2020</th>
                            </tr>
                        </thead>
                        <tbody class="table-primary">
                            <tr>
                                <th>Amerique</th>
                                <td>$ 2, 000</td>
                            </tr>
                            <tr>
                                <th>Afrique</th>
                                <td>$ 1, 000</td>
                            </tr>
                            <tr>
                                <th>Europe</th>
                                <td>$1, 500</td>
                            </tr>
                             <tr>
                                <th><strong>TOTAL</strong></th>
                                <td><strong>$3, 500</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
     </div>

    {% endblock %}

</body>
</html>