{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <nav class="navbar navbar-dark navbar-expand-sm sticky-top">
        <div class="container">
<!--            <a class="navbar-brand" href="#"><img src="img/logo.jpg" height="30" width="30"></a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nucampNavbar">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nucampNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}"> <i class="fa fa-home fa-lg"></i> Home  </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info fa-lg"></i>  About  </a></li>
<!--                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-list fa-lg"></i>  Sites  </a></li>-->
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-address-card fa-lg"></i>  Contact  </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4 col-md-3">
                <h2>Our Objectif </h2>
            </div>
            <div class="col">
                <h3>Give back </h3>
                <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h3>Give back2 </h3>
                <p class="d-none d-sm-block"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <h3>Give back3 </h3>
                <p class="d-none d-sm-block"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row row-content align-items-center">
            <div class="col-sm-4 order-sm-last col-md-3">
                <h2 class="text-sm-right">Our Community Partners</h2>
            </div>
            <div class="col">
                <div class="media">
                    <div class="media-body align-self-center">
                        <h3>Partern1</h3>
                        <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                        <h3>Partern2</h3>
                        <p class="d-none d-sm-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>